
div{
    width:100%;
}

.gallery{
    max-width:150px;
    position:absolute;
}


.heroImg{
    max-width:100%;
    height:auto;
}

.why{
    padding:30px;
    background-color:rgba(170, 185, 186, 1);
    height:400px;
}

.main{
    color:white;
    background-color:black;
}

.testimonial{
    height:300px;
    padding:30px;
}

.customerImg{
    position:absolute;
    left:200px;
}

.beach{
    position:absolute;
    left:410px;
}

.package{
    height:558px;
    background-color:rgba(170, 185, 186, 1);
}

@media(max-width: 992px){
    .gallery{
        max-width:100px;
    }
}

#image1{
    left:800px;
}

#image2{
    left:950px;
    top:1100px;
}

#image3{
    left:1100px;
    top:1150px;
}

.testimonial{
    background-color:black;
}